.window-app.ddbimporter {
  font-family: Roboto, Helvetica, sans-serif;
}

.window-app.ddbimporter h1,
.window-app.ddbimporter h2,
.window-app.ddbimporter h3,
.window-app.ddbimporter h4,
.window-app.ddbimporter h5,
.window-app.ddbimporter h6 {
  font-family: "Roboto Condensed", Helvetica, sans-serif;
}

.actions-buttons button {
  min-width: max-content;
  white-space: nowrap;
}

/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/roboto-v20-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Roboto"), local("Roboto-Regular"),
    url("./fonts/roboto-v20-latin-regular.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/roboto-v20-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/roboto-v20-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("./fonts/roboto-v20-latin-regular.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("./fonts/roboto-v20-latin-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-italic - latin */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: url("./fonts/roboto-v20-latin-italic.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Italic"), local("Roboto-Italic"),
    url("./fonts/roboto-v20-latin-italic.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/roboto-v20-latin-italic.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/roboto-v20-latin-italic.woff") format("woff"),
    /* Modern Browsers */ url("./fonts/roboto-v20-latin-italic.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("./fonts/roboto-v20-latin-italic.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-condensed-700italic - latin */
@font-face {
  font-family: "Roboto Condensed";
  font-style: italic;
  font-weight: 700;
  src: url("./fonts/roboto-condensed-v18-latin-700italic.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Condensed Bold Italic"), local("RobotoCondensed-BoldItalic"),
    url("./fonts/roboto-condensed-v18-latin-700italic.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/roboto-condensed-v18-latin-700italic.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/roboto-condensed-v18-latin-700italic.woff") format("woff"),
    /* Modern Browsers */ url("./fonts/roboto-condensed-v18-latin-700italic.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("./fonts/roboto-condensed-v18-latin-700italic.svg#RobotoCondensed") format("svg");
  /* Legacy iOS */
}

/* roboto-condensed-700 - latin */
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/roboto-condensed-v18-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Condensed Bold"), local("RobotoCondensed-Bold"),
    url("./fonts/roboto-condensed-v18-latin-700.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/roboto-condensed-v18-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/roboto-condensed-v18-latin-700.woff") format("woff"),
    /* Modern Browsers */ url("./fonts/roboto-condensed-v18-latin-700.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("./fonts/roboto-condensed-v18-latin-700.svg#RobotoCondensed") format("svg");
  /* Legacy iOS */
}

/* Journal adjustmends for Module import */
div.journal-sheet section.window-content div.rolltable {
  display: flex;
  flex-direction: row;
  padding: 5px;
}

div.journal-sheet section.window-content div.rolltable span.rolltable-head {
  flex: 1 1 25%;
  font-weight: bold;
}
div.journal-sheet section.window-content div.rolltable span.rolltable-link {
  flex: 1 0 75%;
}

h2.task-name.error {
  color: red;
}

li.context-item i.active {
  color: #c5b631;
}

.ddb-button-dialog-row > section > div.dialog-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.ddb-button-dialog-column > section > div.dialog-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ddb-advanced-dialog table.ddb-selection-table {
  width: 100%;
}

.ddb-advanced-dialog table.ddb-selection-table td,
.ddb-advanced-dialog table.ddb-selection-table th {
  width: 50%;
  text-align: center;
  padding: 10px;
}

.ddb-advanced-dialog table.ddb-selection-table td.colspan2 {
  column-span: 2;
}
