div.journal-sheet div.ddbimporter-image-container {
  position: relative;
}

div.journal-sheet div.ddbimporter-image-container a.ddbimporter-button {
  max-width: 255px;
  background: #2f0000d6;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  margin-left: 10px;
  display: block;
  padding: 8px 16px;
  cursor: pointer;
  color: white;
  font-weight: bold;

  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  transform: translate(-20px, 20px);
}

div.ddbimporter-image-popout {
  display: none;
  z-index: 50;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
}

div.ddbimporter-image-popout img {
  border: none;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;

  object-fit: contain;
  width: 90%;
  height: 90%;
}
