<footer class="form-footer" style="display: block;">
  <div style="display: flex;">
  <button type="submit" style="flex:1"><i class="fa-solid fa-floppy-disk" inert=""></i> Save Changes</button>
  </div>
{{#if isCampaign}}<div style="italic; display: flex; justify-content: flex-start">Campaign ID: {{setupConfig.campaign-id}}</div>{{/if}}
  <div style="italic; display: flex; justify-content: flex-end">v{{version}}</div>
</footer>
