<h2>DDB Cobalt Cookie</h2>

{{#if expired}}
<p>Your Cobalt Cookie has expired :(  But don't worry, enter a new one below!</p>
<p>This is normal and happens from time to time.</p>

{{else}}
<p>You can enter a Cobalt Cookie below</p>
{{/if}}

<h3>What is a Cobalt Cookie?</h3>

<p>This is an authentication token provided by DDB to your browser when you log in, it's like a special password your browser uses.</p>
<p>When you enter a cookie on this screen it gets saved in this browser <i>for just you</i> to use.</p>
<p>Never give anyone else your cookie.</p>


<h3>Cookie Monster</h3>

<p>Use my <a href="https://github.com/MrPrimate/ddb-importer-chrome">Chrome</a> or the <a href="https://github.com/IamWarHead/ddb-data-grabber">DDB Data Grabber</a> to get this with a click, or follow <a href="https://raw.githubusercontent.com/MrPrimate/ddb-importer/main/docs/manual-cookie.png">these manual steps</a>. Paste into this field with Ctrl-V.</p>

<div class="form-description">
  {{#if this.localCobalt}}<p>Setting local Cookie for {{actor.name}} with id {{actor.id}}</p>{{/if}}
  <form id="ddb-importer-settings" autocomplete="off" onsubmit="event.preventDefault();">
    <input id="ddb-cobalt-cookie" class="setup-config" type="password" name="cobalt-cookie" style="flex: 0 1 auto" ;
      value="{{cobaltCookie}}" />
    <hr>
    <button id="munch-settings" class="munch-button" type="submit">Save</button>
  </form>
</div>
