<div>
  <div>
    <p><b>Scene:</b> {{sceneName}}</p>
  </div>
  <nav class="sheet-tabs tabs">
    <a class="item active" data-tab="compendium"><i class="fas fa-atlas"></i> Compendium/Module</a>
    <a class="item" data-tab="download"><i class="fas fa-arrow-alt-circle-down"></i> Download</a>
  </nav>

  <section class="tab" data-tab="compendium">
    <div class="form-description">
    <form id="compendium-form" onsubmit="event.preventDefault();">
      <div class="form-group">
        <label>Compendium</label>
        <select id="select-compendium" name="select-compendium" class="form-select">
          <option value=""></option>
          {{#each compendiums}}
          <option value="{{this.collection}}">{{this.title}}</option>
          {{/each}}
        </select>
      </div>
      <div class="form-group">
        <label>Scene</label>
        <select id="select-scene" name="select-scene" class="form-select">
          <option value=""></option>
        </select>
      </div>
      <button id="compendium-button" name="compendium" type="submit" value="compendium" disabled>Download config</button>
    </form>
    </div>
  </section>

  <section class="tab" data-tab="download">
    <div class="form-description">
    <form id="download-form" onsubmit="event.preventDefault();">
      <div class="form-group">
        <label>URL to download the image from</label>
        <input type="text" name="url" value="" />
      </div>
      <button id="download-button" name="download" type="submit" value="download" disabled>Download config</button>
    </form>
    </div>
  </section>

</div>


