<form>
  <header class="sheet-header">
    <h3 class="item-title">{{name}}</h3>
  </header>

  <div class="form-description">
    {{#each flags}}
    <div>
      <li>{{this.key}}: {{this.value}}</li>
    </div>
    {{/each}}
  </div>
</form>
