<section id="ddb-importer-muncher-help" class="tab ddb-muncher {{ tab.cssClass }} {{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
    <fieldset>
    <legend>Videos</legend>
    <p>If you need help getting setup checkout the following YouTube videos:</p>
    <ul>
      <li>MrPrimate's <a href="https://youtu.be/OMaJHLQORWo">Overview</a></li>
      <li>Encounter Library's <a href="https://www.youtube.com/watch?v=9PjPkugkF1o">Overview (Install, Setup, How to Use)</a> is recommended!</li>
      </ul>
    </ul>
    </fieldset>
    <fieldset>
    <legend>FAQ</legend>
    <ul>
      <li>Homebrew monsters need to be part of your Homebrew Collection on D&D Beyond.</li>
      <li><a href ="https://docs.ddb.mrprimate.co.uk/docs/faqs/ddb-importer#things-i-own-on-ddb-dont-import">Why are not all my monsters importing?</a></li>
      <li>Spells and Items should take only a few minutes at most.</li>
      <li>If it seems to stall wait a while, if it's still stalled you can refresh your browser and try again. As long as "Update existing things." remains unchecked then it will pick up where it left off.</li>
      <li>Read the <a href="https://docs.ddb.mrprimate.co.uk/docs/category/faq">FAQ</a></li>
    </ul>
    </fieldset>
    <fieldset>
    <legend>Troubleshooting</legend>
    <ul>
      <li>Make sure you're using the latest version.</li>
      <li>Try unticking any option marked Experimental.</li>
      <li>Follow the <a href="https://docs.ddb.mrprimate.co.uk/docs/ddb-importer/troubleshooting">Troubleshooting</a> guide.</li>
      <li>Read the <a href="https://docs.ddb.mrprimate.co.uk/docs/category/faq">FAQ</a> and <a href="https://docs.ddb.mrprimate.co.uk/docs/category/ddb-importer">documentation</a>/li>
      <li>Ask a question/submit a bug on <a href="https://discord.gg/WzPuRuDJVP">Discord</a>.</li>
      <li>Or submit a bug on <a href="https://github.com/MrPrimate/ddb-importer">GitHub</a>.</li>
    </ul>

    <button data-action="openDebug"  type="button" id="ddb-open-debug">Open DDB Muncher Debug Tool</button>

    </fieldset>
    <fieldset>
    <legend>Community</legend>
    <ul>
      <li>Join us on <a href="https://discord.gg/WzPuRuDJVP">Discord</a></li>
      <li>Support me on <a href="https://patreon.com/MrPrimate">Patreon</a></li>
    </ul>
    </fieldset>
</section>
