<section id="ddb-importer-muncher-intro" class="tab ddb-muncher {{ tab.cssClass }} {{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
  <div class="ddb-importer">
    <h2>Introduction</h2>
    <p>Here you can integrate or "Munch" your content into Foundry from D&D Beyond.</p>

    <ul>
      <li>You can find detailed guides in the <a href="https://docs.ddb.mrprimate.co.uk/docs/category/ddb-importer">documentation</a>. Please do take time to read it, and the <a href="https://docs.ddb.mrprimate.co.uk/docs/category/faqs">FAQ's</a></li>
      <li>These feature will take a <b>long</b> time, please be patient and leave the browser tab open, and in focus.</li>
      <li>Access to Monster Munch is available if you <a href="https://github.com/MrPrimate/ddb-proxy">run your own proxy</a> or support me on <a href="https://www.patreon.com/MrPrimate">Patreon</a>.</li>
      <li>Please log any bugs on the <a href="https://discord.gg/WzPuRuDJVP">Discord</a>.</li>
    </ul>
  </div>
  <div>
    <h3>General Workflow</h3>
    <p>You need to import Spells, Items and <i>then</i> Monsters.</p>
  </div>
</section>
