<section id="ddb-character-manager-help" class="tab {{ tab.cssClass }} {{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">

  <fieldset>
    <legend>Guides</legend>
    <p>DDB Importer has <a href="https://docs.ddb.mrprimate.co.uk/docs/category/ddb-importer">extensive documentation</a> for most common tasks.</p>

    <p>There are a few YouTube videos, DDB Importer has had a bit of a visual update since then, but the general process and features remain the same:</p>
    <ul>
      <li>MrPrimate's <a href="https://youtu.be/OMaJHLQORWo">Overview</a></li>
      <li>ClayGolem's <a href="https://youtu.be/-9a_PXePZI0">Guide</a></li>
    </ul>
  </fieldset>

  <fieldset>
    <legend>Troubleshooting</legend>
    <ul>
      <li>You will get the best support on <a href="https://discord.gg/WzPuRuDJVP">Discord</a>.</li>
      <li>You can follow the <a href="https://docs.ddb.mrprimate.co.uk/docs/ddb-importer/troubleshooting">Troubleshooting Guide</a> on the documentation.</li>
    </ul>
    <button data-action="openDebug"  type="button" id="ddb-open-debug">Open DDB Importer Debug</button>

  </fieldset>


  <fieldset>
    <legend>Community</legend>
    <ul>
      <li>Join us on <a href="https://discord.gg/WzPuRuDJVP">Discord</a></li>
      <li>Support me on <a href="https://patreon.com/MrPrimate">Patreon</a></li>
    </ul>
  </fieldset>

</section>
