<section id="ddb-importer-muncher-intro" class="tab {{ tab.cssClass }} {{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
    <fieldset>
    <legend>Introduction</legend>
    <p>Before you can begin "munching" your content into Foundry, we need to configure a few settings.</p>

    <p>The only required section here is the "Cobalt Cookie", this allows DDB Importer to talk to your D&D Beyond account.</p>
    <p>If you are wanting to use some Patreon only features like Monster import you will need to hook up your Patreon account.</p>
    <p>You don't need to worry about any other settings for now.</p>
    <ul>
      <li>You can find detailed guides in the <a href="https://docs.ddb.mrprimate.co.uk/docs/ddb-importer/initial-setup">documentation</a>. Please do take time to read it, and the <a href="https://docs.ddb.mrprimate.co.uk/docs/category/faqs">FAQ's</a></li>
      <li>Please log any bugs on the <a href="https://discord.gg/WzPuRuDJVP">Discord</a>.</li>
    </ul>
  </fieldset>

  <div class="flexrow">
  <button data-action="resetSettings"><i class="fas fa-refresh"></i> Reset Settings</button>
  <button data-action="goToCobaltTab" >Start <i class="fas fa-chevron-right"></i></button>
  </div>
</section>
