<footer class="ddb-pruner-footer">
  {{#if hasResults}}
  <button data-action="deleteMatched" type="button" class="munch-button"><i class="fas fa-trash"></i> Delete Matched Documents</button>
  {{/if}}
  <button data-action="cancel" type="button" class="munch-button"><i class="fas fa-times"></i> Close</button>
</footer>
