<div>
  <fieldset id="munching-task-details">
    <legend>Import Details</legend>
    <div class="munching-task-name" id="munching-task-name">
      <br />
    </div>
    <div class="munching-task-monster" id="munching-task-monster">
      <br />
    </div>
    <div class="munching-task-notes" id="munching-task-notes">
      <br />
    </div>
    <div class="munching-progress-bar" style="width: 0%"></div>
    <div class="ddb-overlay import-invalid">
      <div class="ddb-working import-hidden"><i class="fas fa-cog"></i><div style="font-size: 15px; text-align: center;"></div></div>
    </div>
  </fieldset>
</div>
