<footer class="form-footer">
  <button type="button" data-action="updateSelected"><i class="fa-solid fa-floppy-disk"></i> Update Selected</button>
  <button type="button" data-action="updateAllVisible"><i class="fa-solid fa-check"></i> Update All Visible</button>
  <button type="button" data-action="cancel"><i class="fa-solid fa-ban"></i> Cancel</button>
</footer>
