<section id="ddb-importer-muncher-characters-backgrounds" class="tab ddb-muncher {{ tab.cssClass }} {{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
  <fieldset>
    <legend>Backgrounds</legend>
    <p>Please import Feats before Backgrounds and Classes/Class Features.</p>
    <button data-action="parseBackgrounds" type="button" id="munch-backgrounds-start" class="munch-button"
      {{#if characterMunch}}enabled{{else}}disabled{{/if}}>Background Munch</button>
  </fieldset>
</section>
