<section id="ddb-importer-muncher-characters-feat" class="tab ddb-muncher {{ tab.cssClass }} {{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
  <fieldset>
    <legend>Feats</legend>
    <p>Please import Feats before Backgrounds and Classes/Class Features.</p>
    <button data-action="parseFeats" type="button" id="munch-feats-start" class="munch-button"
      {{#if characterMunch}}enabled{{else}}disabled{{/if}}>Feat Munch</button>
  </fieldset>
</section>
