<section id="ddb-importer-muncher-characters-species" class="tab ddb-muncher {{ tab.cssClass }} {{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
  <fieldset>
    <legend>Species</legend>
    <p>Please import Feats before Backgrounds and Classes/Class Features.</p>
    <button data-action="parseSpecies" type="button" id="munch-species-start" class="munch-button"
      {{#if characterMunch}}enabled{{else}}disabled{{/if}}>Species Munch</button>
  </fieldset>
</section>
