<div class="ddb-muncher-details">
  <fieldset id="munching-task-details">
  <legend>Import Details</legend>
  <div class="munching-task-name" id="munching-task-name">
    <br />
  </div>
  <div class="munching-task-monster" id="munching-task-monster">
    <br />
  </div>
  <div class="munching-task-notes" id="munching-task-notes">
    <br />
  </div>
  <div class="munching-progress munching-hidden">
    <div class="munching-progress-bar" style="width: 0%"></div>
  </div>
  <div class="ddb-overlay munching-invalid">
    <div class="ddb-working munching-hidden"><i class="fas fa-cog"></i><div style="font-size: 15px; text-align: center;"></div></div>
  </div>
  </fieldset>
</div>

