<footer class="form-footer">
{{#if isCampaign}}<div style="italic; display: flex; justify-content: flex-start">Campaign ID: {{campaignId}}</div>{{/if}}
  <div style="italic; display: flex; justify-content: flex-end">v{{version}}</div>

</footer>
