<header class="form-header">
  {{!-- <div class="munching-task-name" id="munching-task-name">
    <br />
  </div>
  <div class="munching-task-monster" id="munching-task-monster">
    <br />
  </div>
  <div class="munching-task-notes" id="munching-task-notes">
    <br />
  </div>
  <div class="munching-progress-bar" style="width: 0%"></div> --}}
</header>
