<section class="tab info-{{ tab.id }} {{ tab.cssClass }}" data-tab="{{ tab.id }}" data-group="{{ tab.group }}">
    {{> "templates/generic/tab-navigation.hbs" tabs=tabs.info.tabs }}
    {{> "modules/ddb-importer/handlebars/muncher/info/intro.hbs" tab=tabs.info.tabs.intro }}
    {{> "modules/ddb-importer/handlebars/muncher/info/help.hbs" tab=tabs.info.tabs.help }}
</section>
