<section class="tab munch-{{ tab.id }} {{ tab.cssClass }}" data-tab="{{ tab.id }}" data-group="{{ tab.group }}">
    {{> "modules/ddb-importer/handlebars/generic/tab-navigation.hbs" tabs=tabs.munch.tabs applicationPart="muncherTabs" }}
    {{> "modules/ddb-importer/handlebars/muncher/munch/spells.hbs" tab=tabs.munch.tabs.spells }}
    {{> "modules/ddb-importer/handlebars/muncher/munch/items.hbs" tab=tabs.munch.tabs.items }}
    {{> "modules/ddb-importer/handlebars/muncher/munch/monsters.hbs" tab=tabs.munch.tabs.monsters }}
    {{> "modules/ddb-importer/handlebars/muncher/munch/adventures.hbs" tab=tabs.munch.tabs.adventures }}
    {{> "modules/ddb-importer/handlebars/muncher/munch/characters.hbs" tab=tabs.munch.tabs.characters }}
</section>
