<section class="tab munch-{{ tab.id }} {{ tab.cssClass }}" data-tab="{{ tab.id }}" data-group="{{ tab.group }}">
    {{> "templates/generic/tab-navigation.hbs" tabs=tabs.munch.tabs }}
    {{> "modules/ddb-importer/handlebars/muncher/munch/spells.hbs" tab=tabs.munch.tabs.spells }}
    {{> "modules/ddb-importer/handlebars/muncher/munch/items.hbs" tab=tabs.munch.tabs.items }}
</section>
