<section class="tab settings-{{ tab.id }} {{ tab.cssClass }}" data-tab="{{ tab.id }}" data-group="{{ tab.group }}">
    {{> "templates/generic/tab-navigation.hbs" tabs=tabs.settings.tabs }}
    {{> "modules/ddb-importer/handlebars/muncher/settings/general.hbs" tab=tabs.settings.tabs.general }}
    {{> "modules/ddb-importer/handlebars/muncher/settings/sources.hbs" tab=tabs.settings.tabs.sources }}
</section>
