<section class="tab adventures-{{ tab.id }} {{ tab.cssClass }}" data-tab="{{ tab.id }}" data-group="{{ tab.group }}">
    {{> "templates/generic/tab-navigation.hbs" tabs=tabs.munch.tabs.adventures.tabs }}
    {{> "modules/ddb-importer/handlebars/muncher/munch/adventures/browser.hbs" tab=tabs.munch.tabs.adventures.tabs.browser }}
    {{> "modules/ddb-importer/handlebars/muncher/munch/adventures/legacy.hbs" tab=tabs.munch.tabs.adventures.tabs.legacy }}
</section>
