<section id="ddb-importer-muncher-characters" class="tab ddb-muncher {{ tab.cssClass }} {{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
  <fieldset>
    <legend>Character Import</legend>
    <p>Characters can be imported using the DDB button on the character tab. Find out details <a href="https://docs.ddb.mrprimate.co.uk/docs/ddb-importer/character">here</a>.</p>
  </fieldset>

  <fieldset>
    <legend>Character Options Import</legend>
    <p>In previous versions of DDB Importer you could bulk import species, classes, feats and backgrounds. This will return.</p>

    <p>DDB Importer works best (and always has) importing characters pre-built from DDB. If you really want to build your characters in Foundry, please see below. There is also the <a href="https://foundryvtt.com/packages/dnd-players-handbook">official foundry modules</a>.</p>

    <p>There is a new option in the Advanced character import settings to import to compendiums. This imports classes (level 20 characters only), features, feats, backgrounds, species and traits into the relevant DDB Importer compendiums. Please note, these will use a different structure to compendiums created in earlier versions of the software and D&D Systems. Classes, subclasses and features now go into the DDB Classes compendium. Species and Traits now go into the DDB Species compendium.</p>

    <p>You may need to tweak some of these, and it will generally only select chosen options on a character.</p>

    <p>Bulk Imports will return later in 2025. I'm unwilling to give a firm answer right now.For the latest information on this feature, please see the <a href="https://docs.ddb.mrprimate.co.uk/docs/faqs/ddb-importer-2024#how-long-till-i-can-import-backgrounds-features-species-and-classes-into-compendiums">FAQ?</a></p>

    <p><i>Why?</i> The 5e system made significant changes to the 5e system to coincide with the 2024 rules release. My efforts have been focused on ensuring that content imports correctly with the changes to both Foundry and D&D Beyond in this time. The previous offerings, were, not so good, mostly importing the feature text and no functionality, when they return it will be with much improved parsing.</p>
  </fieldset>

</section>
