<section class="tab monsters-{{ tab.id }} {{ tab.cssClass }}" data-tab="{{ tab.id }}" data-group="{{ tab.group }}">
    {{> "templates/generic/tab-navigation.hbs" tabs=tabs.munch.tabs.monsters.tabs }}
    {{> "modules/ddb-importer/handlebars/muncher/munch/monsters/main.hbs" tab=tabs.munch.tabs.monsters.tabs.main }}
    {{> "modules/ddb-importer/handlebars/muncher/munch/monsters/settings.hbs" tab=tabs.munch.tabs.monsters.tabs.settings }}
    {{> "modules/ddb-importer/handlebars/muncher/munch/monsters/art.hbs" tab=tabs.munch.tabs.monsters.tabs.art }}
</section>
